/* Here is a CSS cheat sheet: */
/* - # for ids */
/* - . for classes */
/* - a b for all b inside a */

:root {
    --primary-bg:  #000D2A;
    --secondary-bg: #060040;
    --highlight: #5c29c2ff;
    --highlight-strong: #c82efbff;
    --warn: #511b1bff;
    --primary-text: white;
    --secondary-text: rgb(200,200,200);

    --blue: #145288ff;
    --yellow: #ffc04bff;
    --orange: #ff4e18ff;
    --violet: #d20085ff;
    --green: #0eac00ff;
}

body {
    background-color: var(--primary-bg);
    margin: 0;
    font-family: monospace;
    text-transform: uppercase;
}

.flexHorizontalContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flexVerticalContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container {
    border-color: var(--secondary-bg);
    border-width: 5px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}

.text {
    fill: var(--primary-text);
    font-size: 2.0em;
}

.text2 {
    fill: var(--secondary-text);
    font-size: 1.5em;
}

.bar {
    stroke-width: 2;
    stroke-opacity: 1.0;
    fill-opacity: 0.3;
    transition: 0.2s linear;
}

.bar:hover {
    fill-opacity: 1.0;
}

#intakeContainer {
    flex-grow: 1;
}

#bodyContainer {
    flex-grow: 2.5;
}

.nutrition {
    flex-grow: 2;
}

.calorie_day_container {
    fill-opacity: 0;
}

.total_fat {
    stroke: var(--yellow);
    fill: var(--yellow);
}

.carbo {
    stroke: var(--blue);
    fill: var(--blue);
}

.protein {
    stroke: var(--violet);
    fill: var(--violet);
}

.leftover_calories {
    stroke: var(--orange);
    fill: var(--orange);
}

.inBed {
    fill: var(--violet);
    fill-opacity: 0.3;
}

.sleep {
    stroke: var(--blue);
    fill: var(--blue);
}

.heart_rate {
    fill: red;
    animation-name: dot_pulse;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.heart_rate_variability {
    fill: red;
}

@keyframes dot_pulse {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

#data {
    display: none;
}
