/* Here is a CSS cheat sheet: */
/* - # for ids */
/* - . for classes */
/* - a b for all b inside a */

/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url(orbitron.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --primary-bg:  #000D2A;
    --secondary-bg: #060040;
    --highlight: #5c29c2ff;
    --highlight-strong: #c82efbff;
    --warn: #511b1bff;
    --primary-text: white;
    --secondary-text: rgb(200,200,200);

    --bg1: #562c2c;
    --bg2: #f2542d;
    --text: #f5dfbb;
    --tint1: #0e9594;
    --tint2: #127475;
}

body {
    background-color: var(--bg1);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 0;
    font-family: Orbitron;
    text-transform: uppercase;
}

.flexHorizontalContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flexVerticalContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.renderer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#toolbar {
    height: 100px;
}

button {
    background-color: rgba(0,0,0,0);
    color: var(--text);
    font-family: Orbitron;
    text-transform: uppercase;
    font-size: 1.5em;
    border: solid;
    border-color: var(--bg2);
    border-width: 5px;
}

#toolbar > button {
    height: 100%;
    aspect-ratio: 1.0;
}

@media (max-width: 700px) {
    body {
        flex-direction: column-reverse;
    }
}

