/* Here is a CSS cheat sheet: */
/* - # for ids */
/* - . for classes */
/* - a b for all b inside a */

/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url(orbitron.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --primary-bg:  #000D2A;
    --secondary-bg: #060040;
    --highlight: #5c29c2ff;
    --highlight-strong: #c82efbff;
    --warn: #511b1bff;
    --primary-text: white;
    --secondary-text: rgb(200,200,200);

    --blue: #145288ff;
    --yellow: #ffc04bff;
    --orange: #ff4e18ff;
    --violet: #d20085ff;
    --green: #0eac00ff;

    --heart: rgb(251, 80, 56);
}

body {
    background-color: var(--primary-bg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 0;
    font-family: Orbitron;
    text-transform: uppercase;
}

text {
    fill: white;
}

.flexHorizontalContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flexVerticalContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container {
    border-color: var(--secondary-bg);
    border-width: 5px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}

.containerTitle {
    font-size: 1em;
}

.text {
    fill: var(--primary-text);
    font-size: 1.4em;
}

.text2 {
    fill: var(--secondary-text);
    font-size: 1.2em;
}

.glanceBackground {
    stroke-width: 4;
    stroke-opacity: 1.0;
    fill-opacity: 0.45;
}

.bar {
    stroke-width: 2;
    stroke-opacity: 1.0;
    fill-opacity: 0.3;
    transition: 0.2s linear;
}

.bar:hover {
    fill-opacity: 1.0;
}

#intakeContainer {
    flex-grow: 2;
}

#bodyContainer {
    flex-grow: 5;
}

#glanceContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    flex-grow: 1;
}

.calorie_day_container {
    fill-opacity: 0;
}

.total_fat {
    color: var(--yellow);
    stroke: var(--yellow);
    fill: var(--yellow);
}

.carbo {
    color: var(--blue);
    stroke: var(--blue);
    fill: var(--blue);
}

.protein {
    color: var(--violet);
    stroke: var(--violet);
    fill: var(--violet);
}

.leftover_calories {
    color: var(--orange);
    stroke: var(--orange);
    fill: var(--orange);
}

.inBed {
    color: var(--violet);
    fill: var(--violet);
    fill-opacity: 0.3;
}

.sleep {
    color: var(--blue);
    stroke: var(--blue);
    fill: var(--blue);
}

.heart_rate {
    color: var(--heart);
    fill: var(--heart);
    animation-name: dot_pulse;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.heart_rate_variability {
    color: var(--heart);
    fill: var(--heart);
}

.active_energy {
    color: rgb(252, 48, 130);
    fill: rgb(252, 48, 130);
}

.apple_exercise_time {
    color: rgb(172, 251, 5);
    fill: rgb(172, 251, 5);
}

.apple_stand_time {
    color: rgb(8, 246, 210);
    fill: rgb(8, 246, 210);
}

.weight_body_mass {
    color: var(--yellow);
    fill: var(--yellow);
    stroke: var(--yellow);
}

@keyframes dot_pulse {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

@media (max-width: 1100px) {
    .containerTitle {
        font-size: 0.8em;
    }
}

@media (max-width: 900px) {
    .containerTitle {
        font-size: 0.7em;
    }
}

@media (max-width: 700px) {
    body {
        flex-direction: column-reverse;
    }

    .container {
        flex-grow: 1;
        margin: 5px;
    }

    .containerTitle {
        font-size: 1em;
    }

    #glanceContainer {
        flex-direction: row;
    }
}

